html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
html, body {
	height: 100%;
	width: 100%;
}
.header {
	border-bottom: 5px solid #2BB673;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #2bb673 30%, #2bb673 40%, #1d915c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#2bb673), color-stop(40%,#2bb673), color-stop(100%,#1d915c));
	background: -webkit-linear-gradient(top, #ffffff 0%,#2bb673 30%,#2bb673 40%,#1d915c 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#2bb673 30%,#2bb673 40%,#1d915c 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#2bb673 30%,#2bb673 40%,#1d915c 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#2bb673 30%,#2bb673 40%,#1d915c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1d915c',GradientType=0 );
    height: 75px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}
#logo {
	margin-top: 10px;
}
#wrapper {
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e6e6e6 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e6e6e6 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#e6e6e6 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#e6e6e6 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=1 );
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 75px;
    width: 100%;
}
ul#topicList {
    margin-top: 20px;
}
ul#topicList li {
	float: left;
    display: block;
	text-align: center;
	margin: 0 2% 20px;
	width: 28%;
}
ul#topicList li a {
	text-decoration: none;
}
ul#topicList li img {
	display: block;
	height: 50%;
	margin: 0 auto;
	width: 50%;
}
ul#topicList li h2 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}