<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.focuseducation.publications.3UQ7683972" version="1.0.0">
	<name>Progression in the New National Curriculum</name>
	<description>This new APP version of our popular 'mini' book outlines the content of the new (2014) National Curriculum in a handy and easy to use format. The content for reading, writing and mathematics is outlined not only by year group but also by strand or element. This makes planning for differentiation much easier as you can track an element of the curriculum from one year group to another. Content for foundation subjects is outlined by key stage expectations.</description>
	
	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
	</feature>

	<!--
	If you do not want any permissions to be added to your app, add the
	following tag to your config.xml; you will still have the INTERNET
	permission on your app, which PhoneGap requires.
	-->
	<preference name="permissions" value="none"/>
	<!-- Customize your app and platform with the preference element. -->
	<preference name="phonegap-version"           value="3.3.0" />          <!-- all: current version of PhoneGap -->
	<preference name="orientation"                value="default" />      <!-- all: default means both landscape and portrait are enabled -->
	<preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
	<preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
	<preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
	<preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
	<preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
	
	<preference name="AutoHideSplashScreen"		  value="false" />
	<preference name="EnableViewportScale" 		  value="true" />
	
	<!-- Define app icon for each platform. -->
	<icon src="res/icon/ios/icon-57.png"            gap:platform="ios"      width="57" 	height="57" />
	<icon src="res/icon/ios/icon-72.png"            gap:platform="ios"      width="72" 	height="72" />
	<icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"      width="114" height="114" />
	<icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"      width="144" height="144" />	
	<icon src="res/icon/ios/icon-76.png" 			gap:platform="ios"		width="76" 	height="76" />
    <icon src="res/icon/ios/icon-60-2x.png" 		gap:platform="ios" 		width="120" height="120" />
    <icon src="res/icon/ios/icon-76-2x.png" 		gap:platform="ios" 		width="152" height="152" />
	
	<!-- Define app icon for each platform. -->
	<icon src="res/icon/android/icon-36-ldpi.png" 	gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" 	gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" 	gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" 	gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="res/screen/android/screen-hdpi-landscape.png" 		gap:density="hdpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.png" 		gap:density="hdpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-ldpi-landscape.png" 		gap:density="ldpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-ldpi-portrait.png" 		gap:density="ldpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-mdpi-landscape.png" 		gap:density="mdpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait" 			gap:density="mdpi" 	gap:platform="android" />
	<gap:splash src="res/screen/android/screen-xhdpi-landscape.png" 	gap:density="xhdpi" gap:platform="android" />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" 		gap:density="xhdpi" gap:platform="android" />
	
	<!-- iPhone and iPod Touch -->
	<gap:splash src="res/screen/ios/screen-iphone-portrait.png"     		gap:platform="ios" width="320"  height="480" />
	<gap:splash src="res/screen/ios/screen-iphone-landscape.png"    		gap:platform="ios" width="480"  height="320" />
	<!-- iPhone 4/4S -->
	<gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"  		gap:platform="ios" width="640"  height="960" />
	<gap:splash src="res/screen/ios/screen-iphone-landscape-2x.png" 		gap:platform="ios" width="960"  height="640" />
	<!-- iPhone 5 -->
	<gap:splash src="res/screen/ios/screen-iphone-portrait-568h@2x.png"		gap:platform="ios" width="640"  height="1136"/>
	<gap:splash src="res/screen/ios/screen-iphone-landscape-568h@2x.png"	gap:platform="ios" width="1136" height="640"/>
	<!-- iPad and iPad Mini -->
	<gap:splash src="res/screen/ios/screen-ipad-portrait.png"       		gap:platform="ios" width="768"  height="1024" />
	<gap:splash src="res/screen/ios/screen-ipad-landscape.png"      		gap:platform="ios" width="1024" height="768" />
	<!-- Retina iPad and iPad Mini Retina -->
	<gap:splash src="res/screen/ios/screen-ipad-portrait-2x.png"       		gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="res/screen/ios/screen-ipad-landscape-2x.png"      		gap:platform="ios" width="2048" height="1536" />

	<access origin="*"/>
</widget>
